.onShareButton button,
.onWishButton button {
  background-color: transparent;
  border: 0.15vw solid #ec1b23 !important;
  width: 3vw;
  height: 4.9vh;
  border-radius: 0.3vw;
  padding: 0;
  text-align: center;
}

.onShareButton button:hover,
.onWishButton button:hover,
.onShareButton button:focus,
.onWishButton button:focus,
.onShareButton button:active,
.onWishButton button:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.onAddButton {
  max-width: 66.666667%;
  flex: 0 0 66.666667%;
}
.onAddButton button {
  background-color: #ec1b23;
  border: 1px solid #ec1b23 !important;
  width: 100%;
  height: 4.9vh;
  text-align: center;
  font-weight: bold !important;
  font-size: 0.77vw;
  padding: 0;
  border-radius: 0.3vw;
}
.onAddButton button:hover,
.onAddButton button:focus,
.onAddButton button:active {
  box-shadow: none !important;
  background-color: #ec1b23 !important;
  border: 1px solid #ec1b23 !important;
}
.onAddButton button:after {
  display: none;
}
.onShareButton button img,
.onWishButton button img {
  width: 100%;
  height: 2vh;
}

@media screen and (max-width: 1600px) {
  .onAddButton button {
    font-size: 0.9rem;
    height: 3rem;
  }
  .onShareButton button,
  .onWishButton button {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .bannerCutsomCol-2 {
    max-width: 15%;
  }
  .onAddButton {
    width: 100%;
    flex: unset;
    max-width: unset;
  }
}
@media screen and (max-width: 400px) {
  .onShareButton button,
  .onWishButton button {
    width: 2.5rem;
    height: 2.5rem;
  }
  .onAddButton button {
    height: 2.5rem;
  }
  .onShareButton button img,
  .onWishButton button img {
    width: 50%;
  }
}
