.catalogueContainer {
  width: 100%;
  max-width: 100%;
  margin: 115px auto 0;
  text-align: left;
}
.catalogueContainer > div > div {
  padding: 0;
}
.catalogueContainer > div > div:last-child {
  background-color: #fcf5f5;
}
.catalogueContainer .contentBox {
  padding-top: 6vh;
}
.catalogueCategoryContainer .categoryContainer {
  width: 100%;
  padding: 0;
}
.catalogueCategoryContainer .categoryContainer .Header {
  width: 100%;
  max-width: 60%;
  margin: 0 34%;
}
.catalogueCategoryContainer .categoryBoxRow {
  flex-flow: column;
  flex-direction: column;
  max-height: 66vh;
  overflow-y: hidden;
}
.catalogueCategoryContainer .categoryBoxRow:hover {
  overflow-y: scroll;
}
.catalogueCategoryContainer .categoryBoxRow::-webkit-scrollbar {
  width: 5px;
}
.catalogueCategoryContainer .categoryBoxRow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.catalogueCategoryContainer .categoryBoxRow::-webkit-scrollbar-thumb {
  background: #ec1b23;
  border-radius: 10px;
}
.catalogueCategoryContainer .categoryBoxRow::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.catalogueCategoryContainer .CategoryBoxCol {
  border-top: 1px solid #d8dae3;
  border-bottom: 1px solid #d8dae3;
  max-width: 100%;
  flex: 0 0 100%;
  padding: 4.95vh 0;
}
.catalogueCategoryContainer .CategoryBoxCol:nth-child(4n + 0) ~ div {
  margin-top: 0;
}
.catalogueCategoryContainer .CategoryBoxCol:not(:last-child) {
  border-bottom: 0;
}
.catalogueCategoryContainer .CategoryBoxCol .boxContent {
  flex-flow: row;
  max-width: 60%;
  margin: 0 0 0 34%;
  padding-bottom: 0;
}
.catalogueCategoryContainer .CategoryBoxCol .categoryMeta {
  padding-left: 1.29vw;
  width: 19.15vw;
}
.catalogueCategoryContainer .categoryMeta .boxTitle {
  font-size: 1.51vw;
}
.catalogueCategoryContainer .categoryMeta > .row {
  flex-flow: column;
}

.catalogueCategoryContainer .categoryMeta .categoryNomineeCount,
.catalogueCategoryContainer .categoryMeta .categoryNameTime {
  max-width: 100%;
  flex: 0 0 100%;
}
.catalogueCategoryContainer .categoryMeta .categoryNomineeCount > div > div {
  text-align: left;
}
.catalogueCategoryContainer .categoryMeta .categoryNomineeCount span {
  color: #6f7287;
  font-size: 0.86vw;
  text-transform: capitalize;
  padding-right: 0.27vw;
}

.catalogueCategoryContainer .boxContent .categoryImage {
  width: 10.6vw;
  height: 11.59vh;
}

/*
* Nominee Part
*/

.catalogueNomineeContainer .heading {
  font-size: 1.94vw;
  color: #231f20;
  font-weight: bold;
}

@media screen and (max-width: 1600px) {
  .catalogueCategoryContainer .categoryContainer .Header,
  .catalogueCategoryContainer .CategoryBoxCol .boxContent {
    margin: 0 10%;
    max-width: 100%;
  }
  .catalogueNomineeContainer .heading {
    font-size: 2.25rem;
  }
  .catalogueCategoryContainer .categoryMeta .boxTitle {
    font-size: 1.75rem;
  }
  .catalogueCategoryContainer .categoryMeta .categoryNomineeCount span {
    font-size: 1rem;
  }
  .catalogueCategoryContainer .boxContent .categoryImage {
    width: 12.25rem;
    height: 7rem;
  }
  .catalogueContainer .CategoryBoxCol .categoryImage img {
    border-radius: 0.625rem;
  }
}

@media screen and (max-width: 1200px) {
  .catalogueContainer > .row {
    flex-flow: column;
  }
  .catalogueCategoryContainer .categoryContainer {
    max-width: 90vw;
  }
  .catalogueCategoryContainer .CategoryBoxCol {
    border-bottom: 0;
  }
  .catalogueCategoryContainer .categoryContainer .Header,
  .catalogueCategoryContainer .CategoryBoxCol .boxContent {
    margin: auto;
  }
  .catalogueContainer .contentBox {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .catalogueCategoryContainer .CategoryBoxCol .boxContent {
    flex-flow: column;
  }
  .catalogueCategoryContainer .boxContent .categoryImage {
    width: 100%;
    height: 14.75vh;
  }
  .catalogueContainer .catalogueCategoryCol,
  .catalogueContainer .catalogueNomineeCol {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .catalogueCategoryContainer .categoryMeta .categoryNomineeCount span {
    font-size: 0.8rem;
  }
  .catalogueCategoryContainer .categoryBoxRow {
    flex-flow: row;
    overflow-y: hidden;
  }
  .catalogueCategoryContainer .categoryBoxRow:hover {
    overflow-y: hidden;
  }
  .catalogueCategoryContainer .categoryBoxRow::-webkit-scrollbar {
    height: 5px;
  }
  .catalogueCategoryContainer .CategoryBoxCol {
    max-width: 25%;
    flex: 0 0 25%;
  }
  .catalogueCategoryContainer .CategoryBoxCol .categoryMeta {
    padding-left: 0;
    width: 100%;
  }
  .catalogueCategoryContainer .CategoryBoxCol {
    padding-right: 0.9375rem;
    margin-top: 0 !important;
  }
  .catalogueContainer .activeCateogry {
    background-color: transparent;
  }
  .catalogueContainer .CategoryBoxCol .categoryImage img {
    opacity: 0.5;
  }
  .catalogueContainer .activeCateogry .categoryImage img {
    opacity: 1;
  }
  .catalogueCategoryContainer .categoryMeta .boxTitle {
    font-size: 1.2rem;
  }
  .catalogueCategoryContainer .categoryMeta .categoryNomineeCount,
  .catalogueCategoryContainer .categoryMeta .categoryNameTime {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .catalogueCategoryContainer .CategoryBoxCol {
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
  .catalogueCategoryContainer .boxContent .categoryImage {
    height: 7.5rem;
  }
}
@media screen and (max-width: 575px) {
  .catalogueCategoryContainer .CategoryBoxCol {
    max-width: 503%;
    flex: 0 0 50%;
  }
}
