.catalogueContainer {
  width: 100%;
  max-width: 100%;
  margin: 115px auto 0;
  text-align: left;
}
.catalogueContainer > div > div {
  padding: 0;
}
.catalogueContainer > div > div:last-child {
  background-color: #fcf5f5;
}
.catalogueContainer .contentBox {
  padding-top: 18.22vh;
}
.catalogueCategoryContainer .categoryContainer {
  width: 100%;
  padding: 0;
}
.catalogueCategoryContainer .categoryContainer .Header {
  width: 100%;
  max-width: 60%;
  margin: 0 34%;
}
.catalogueCategoryContainer .categoryBoxRow {
  flex-flow: column;
  flex-direction: column;
}
.catalogueCategoryContainer .CategoryBoxCol {
  border-top: 1px solid #d8dae3;
  border-bottom: 1px solid #d8dae3;
  max-width: 100%;
  flex: 0 0 100%;
  padding: 4.95vh 0;
}
.catalogueCategoryContainer .CategoryBoxCol:nth-child(4n + 0) ~ div {
  margin-top: 0;
}
.catalogueCategoryContainer .CategoryBoxCol:not(:last-child) {
  border-bottom: 0;
}
.catalogueCategoryContainer .CategoryBoxCol .boxContent {
  flex-flow: row;
  max-width: 60%;
  margin: 0 0 0 34%;
  padding-bottom: 0;
}
.catalogueCategoryContainer .CategoryBoxCol .categoryMeta {
  padding-left: 1.29vw;
  width: 19.15vw;
}
.catalogueCategoryContainer .CategoryBoxCol .categoryMeta .boxTitle {
  font-size: 1.51vw;
}
.catalogueCategoryContainer .CategoryBoxCol .categoryMeta > .row {
  flex-flow: column;
}

.catalogueCategoryContainer .categoryMeta .categoryNomineeCount > div > div {
  text-align: left;
}
.catalogueCategoryContainer .categoryMeta .categoryNomineeCount span {
  color: #6f7287;
  font-size: 0.86vw;
  text-transform: capitalize;
  padding-right: 0.27vw;
}

.catalogueCategoryContainer .CategoryBoxCol .boxContent .categoryImage {
  width: 10.6vw;
  height: 11.59vh;
}

/*
* Nominee Part
*/

.catalogueNomineeContainer .heading {
  font-size: 1.94vw;
  color: #231f20;
  font-weight: bold;
}
