.CategoryBoxCol {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 1.75vw 0 0;
}

.CategoryBoxCol:nth-child(4n + 0) ~ div {
  padding-top: 30px;
}
.boxContent {
  display: flex;
  flex-flow: column;
  padding: 44px 0 10px;
  cursor: pointer;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: left center;
  position: relative;
}
.boxTitle {
  font-size: 1vw;
  color: #17224e;
  font-weight: bold;
  padding: 10px 0 8px;
  line-height: 2.3vh;
  font-size-adjust: 0.4;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.tooltipStyle {
  width: 250px !important;
}
.categoryMeta .categoryNomineeCount {
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-top: 5px;
}
.categoryMeta .categoryNomineeCount > span:first-child {
  font-size: 0.68vw;
  color: #747a95;
  padding: 0;
  text-align: right;
}
.categoryMeta .categoryNomineeCount > span:last-child {
  font-size: 1.12vw;
  color: #17224e;
  font-weight: bold;
  margin-top: -5px;
}

.categoryImage img {
  width: 100%;
  border-radius: 0.7vw;
  height: 18.5vh;
}
@media screen and (min-width: 2700px) and (max-width: 4000px) {
  .CategoryBoxCol {
    padding: 0 30px;
  }
}

@media screen and (min-width: 2100px) and (max-width: 2699px) {
  .CategoryBoxCol {
    padding: 0 25px;
  }
}
@media screen and (max-width: 1600px) {
  .boxTitle {
    font-size: 1.12rem;
  }
  .categoryMeta .categoryNomineeCount > span:first-child {
    font-size: 0.7rem;
  }
  .categoryMeta .categoryNomineeCount > span:last-child {
    font-size: 1.12rem;
  }
}

@media screen and (min-width: 993px) and (max-width: 1400px) {
  .CategoryBoxCol {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media screen and (max-width: 992px) {
  .CategoryBoxCol {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .CategoryBoxCol {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
