body{
    background-color: #fff !important;
}
.votingContainer{
    width:100%;
    background-color: #fff;
}
.contentBox{
    padding: 70px 0;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
@media screen and (max-width:1400px){
    .contentBox{
        padding: 60px 0;
    }
}