.detailCardContainer {
  max-width: 70%;
}
.detailCardContainer > div > div {
  padding: 0;
}
.detailCardImage img {
  width: 100%;
  height: 569px;
  object-fit: cover;
}
.detailCardContent {
  background-color: #fff;
  padding-top: 70px;
  padding-left: 20px;
  text-align: left;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.detailCardContent > div {
  margin: 0;
}
.cardMonths,
.cardOrganization,
.cardBalloting {
  font-size: 16px;
  color: #6f7287;
}
.cardDates {
  font-size: 34px;
  color: #ec1b23;
  font-weight: bold;
}
.cardName {
  font-size: 28px;
  color: #17224e;
  font-weight: bold;
}
.cardRemaingTime {
  font-size: 16px;
  color: #ec1b23;
}
.cardBorderDesign {
  border: 3px solid #ec1b23;
  border-radius: 5px;
  width: 22.5%;
  margin-top: 75px;
  margin-bottom: 20px;
}
.cardButtons {
  position: relative;
  top: 70px;
  margin-left: -15px !important;
}
