.col2 {
  flex: 0 0 16.66%;
  max-width: 16.66%;
  padding: 0 15px;
}
.eventNomineesContainer {
  max-width: 70vw;
}
.eventNomineesContainer .col3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}
.col7 {
  flex: 0 0 58.33%;
  max-width: 58.33%;
  padding: 0 15px;
}
.contentBox {
  padding: 60px 0 70px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.eventNomineesContainer .Header {
  flex-direction: row;
}
.eventNomineesContainer .nomineeHeaderCol .heading {
  text-transform: capitalize;
}
.eventNomineesContainer .nomineeHeaderCol .heading span {
  text-transform: lowercase;
}
.nomineeHeaderCol:first-child {
  text-align: left;
}
.nomineeHeaderCol:last-child {
  text-align: right;
}
.nomineeBoxRow {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.timerClock {
  text-align: center;
}
.timerClock img {
  position: relative;
  top: 5px;
  width: 2.43vw;
  height: 4.74vh;
}
.timeContent {
  background-color: #fff;
  border: 1px solid #d8dae3;
  border-radius: 0.48vw;
  padding: 1.58vh 1.35vw;
  width: 100%;
  max-width: 24vw;
  margin-top: 5.37vh;
}
.timeLeft {
  font-size: 0.97vw;
  color: #231f20;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timeText {
  font-size: 0.86vw;
  color: #747a95;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltipStyle {
  width: 250px !important;
}

@media screen and (max-width: 1600px) {
  .timerClock img {
    width: 100%;
  }
  .eventNomineesContainer .timeLeft {
    font-size: 1.125rem;
  }
  .eventNomineesContainer .timeText {
    font-size: 1rem;
  }
  .eventNomineesContainer .timeContent {
    max-width: 27.75rem;
    border-radius: 0.625rem;
  }
}

@media screen and (max-width: 1200px) {
  .eventNomineesContainer {
    max-width: 90vw;
    padding: 0;
  }
  .eventNomineesContainer .timeContent {
    max-width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .eventNomineesContainer .timeContent {
    max-width: 70%;
  }
  .eventNomineesContainer .timeContent .nomineeBoxRow {
    flex-flow: row;
  }
}
@media screen and (max-width: 575px) {
  .eventNomineesContainer .timeContent {
    max-width: 100%;
  }
  .eventNomineesContainer .timeContent .nomineeBoxRow {
    flex-flow: column;
  }
  .timerClock {
    text-align: left;
  }
  .timerClock img {
    max-width: 15%;
    top: 0;
  }
}
