body {
  background-color: #fff !important;
}
.cardItemCol {
  max-width: 16.55vw;
  padding: 0;
  padding-right: 1.4vw;
}

.cardItemCol:nth-child(2n + 0) ~ div {
  margin-top: 3.26vh;
}
.cardItemContainer {
  border: 1px solid #d8dae3;
  border-radius: 1.08vw;
  padding: 4.11vh 0;
  background-color: #ffffff;
}
.eventNomineesContainer .imageContainer {
  height: 12.64vh;
  max-width: 6.49vw;
  margin: 0 auto;
}
.eventNomineesContainer .imageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
  filter: grayscale(100%);
  object-fit: cover;
}
.cardContent {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.cardContent > div {
  align-self: flex-start;
  width: 100%;
}
.cardTitle {
  font-size: 0.97vw;
  color: #17224e;
  font-weight: 900;
  padding: 2.73vh 0 0;
  font-size-adjust: 0.4;
  white-space: nowrap;
  margin: 0 auto !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.cardMetaBox {
  line-height: 25px;
}
.voteType {
  color: #6f7287;
  font-size: 0.86vw;
  font-weight: normal;
  font-size-adjust: 0.4;
  padding: 0.52vh 0 3.37vh;
}
.voteButton button {
  background: #ec1b23;
  border-radius: 8px;
  padding: 0.63vh 1.78vw 1.05vh;
  color: #fff;
  border: 1px solid #ec1b23;
  font-size: 0.86vw;
  cursor: pointer;
}

.tooltipStyle {
  width: 250px !important;
}

@media screen and (max-width: 1600px) {
  .cardTitle {
    font-size: 1.125rem;
  }
  .voteType,
  .voteButton button {
    font-size: 1rem;
  }
  .voteButton button {
    padding: 0.375rem 2rem 0.625rem;
  }
  .eventNomineesContainer .imageContainer {
    max-width: 7.5rem;
    height: 7.5rem;
  }
  .cardItemContainer {
    border-radius: 0.625rem;
  }
  .cardItemCol {
    padding-right: 1.5625rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .cardItemCol {
    flex: 0 0 41.66%;
    max-width: 41.66%;
  }
}

@media screen and (max-width: 1200px) {
  .cardItemCol {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .cardItemCol:nth-child(2n + 0) ~ div {
    margin-top: 0;
  }
  .cardItemCol:nth-child(3n + 0) ~ div {
    margin-top: 3.26vh;
  }
}

@media screen and (max-width: 767px) {
  .cardItemCol {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .cardItemCol:nth-child(2n + 0) ~ div {
    margin-top: 3.26vh;
  }
}
@media screen and (max-width: 575px) {
  .cardItemCol {
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 0;
  }
  .cardItemCol:nth-child(3n + 0) ~ div {
    margin-top: 0;
  }
  .cardItemCol:nth-child(2n + 0) ~ div {
    margin-top: 0;
  }
  .cardItemCol:nth-child(1n + 0) ~ div {
    margin-top: 3.26vh;
  }
}
