div {
  font-family: "NeuePlak";
}
button {
  font-family: "NeuePlak" !important;
}
.ant-modal-mask {
  background-color: #000 !important;
  opacity: 0.78;
}
.NomineeModal .ant-modal-content {
  box-shadow: 0px 0px 7px #00000019;
  border-radius: 16px;
  height: 800px;
}
.NomineeModal .ant-modal-close-x {
  font-size: 20px;
  text-align: left;
  line-height: 75px;
}
.NomineeModal .ant-modal-close-x path {
  stroke: #d2d7e6;
  stroke-width: 10%;
}

/*
*   Header
*/
.Header {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: flex-start;
  text-align: left;
}
.heading {
  font-size: 36px;
  font-weight: bold;
  color: #231f20;
}
.subHeading {
  font-size: 22px;
  color: #747a95;
  font-weight: normal;
}

/*
* Display Nominee Modal Content
*/
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 0 15px;
  cursor: pointer;
}
.DetailBox .title {
  color: #2c2c2c;
  font-size: 40px;
  line-height: 49px;
  font-weight: bold;
  margin-bottom: 50px;
}
.DetailBox {
  padding: 60px 50px 60px;
}
.paidPadding {
  padding-top: 80px;
  padding-bottom: 63px;
}
.unpaidPadding {
  padding-top: 90px;
  padding-bottom: 83px;
}
.detailContent {
  max-width: 65%;
  border: 1px solid #d8dae3;
  border-radius: 20px;
  margin: 0 auto;
  padding: 45px 20px;
}
.detailImg {
  padding-bottom: 25px;
}
.detailImg img {
  width: 120px;
  height: 120px;
  border-radius: 50% 50%;
  filter: grayscale(100%);
}
.detailName {
  font-size: 28px;
  font-weight: bold;
  color: #231f20;
}
.detailVoteType {
  font-size: 22px;
  color: #747a95;
  font-weight: normal;
  text-transform: capitalize;
}
.errorMessage {
  font-size: 14px;
  color: #ff0000;
  font-weight: bold;
}
.castVote {
  padding-top: 50px;
}
.castVote button {
  background-color: #d8dae3 !important;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  color: #fff !important;
  font-size: 20px;
  height: 60px;
}
.castVote button:hover,
.castVote button:active,
.castVote button:focus {
  background-color: #d8dae3;
  color: #fff;
  border-color: #d8dae3;
}
.castVote .active_method {
  background-color: #ec1b23 !important;
}
.castVote .active_method:hover,
.castVote .active_method:active,
.castVote .active_method:focus {
  background-color: #ec1b23;
  border-color: #ec1b23;
}
.castVote span {
  vertical-align: super;
}
.subTitle {
  margin-bottom: 20px;
}
.subTitle .text {
  color: #ec1b23;
  font-size: 20px;
  font-weight: bold;
}
.subTitle .timeLeft {
  color: #ec1b23;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.subTitle .text h1 {
  color: #ec1b23;
  font-weight: bold;
  margin-top: 40px;
}
.paymentDetail {
  text-align: left;
}
.voteCount {
  display: block;
  /* border-bottom: 1px solid #d8dae3; */
  margin-bottom: 15px;
}
.paymentDetail .title {
  font-size: 20px;
  color: #3d4956;
  font-weight: 550;
  margin: 0;
  font-family: "Helvetica Neue LT Std";
}
.paymentDetail select[name="number_of_votes"] {
  background-image: url("/images/votingimages/redDropDown.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 58%;
  font-size: 20px;
  color: #3d4956;
  font-weight: normal;
  border: 0;
  background-color: transparent;
  width: 100%;
  padding-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-family: "NeuePlak" !important;
}
select::-ms-expand {
  display: none !important;
}
.paymentContent {
  border: 1px solid #d8dae3;
  border-radius: 20px;
  text-align: center;
  position: relative;
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.paymentTitle {
  font-size: 20px;
  font-weight: bold;
  color: #3d4956;
  padding-top: 15px;
}
.paymentCurrencey {
  color: #747a95;
  font-size: 14px;
}
.paymentMethod .title {
  margin-bottom: 30px;
}
.tickMark {
  position: absolute;
  top: -15px;
  left: 42%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d8dae3;
  color: #fff;
  line-height: 28px;
  font-size: 26px;
}
.tickMark img {
  position: relative;
  top: -5px;
}
.active_method {
  background-color: #ec1b23;
}
form[name="userMobileInfoForm"]
  div[name="payment_button"]
  span.ant-form-item-children {
  width: 30%;
  display: block;
  margin: auto 0 auto auto;
}

form[name="userMobileInfoForm"] button.mobile_payment {
  background-color: #ec1b23 !important;
  color: #fff;
  width: 100%;
  font-size: 20px;
  font-weight: bold !important;
  height: 40px;
  border: 0;
  outline: none;
}
form[name="userMobileInfoForm"] button.mobile_payment span {
  position: relative;
  top: -2px;
}
.paymentDetail .ant-input-number {
  width: 100%;
  height: 40px;
}
.loadMore {
  background: #ec1b23;
  border-radius: 8px;
  padding: 0 6px 6px 6px;
  color: #fff;
  border: 1px solid #ec1b23;
  width: 120px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  font-weight: bold !important;
  margin-top: 20px;
}
.loadMore:after {
  background-color: transparent;
}
.loadMore:hover,
.loadMore:active,
.loadMore:focus {
  background-color: #ec1b23 !important;
  box-shadow: none !important;
}

@media screen and (max-width: 1400px) {
  .Header {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 650px) {
  /*
    *   Header Css
    */
  .pageTitle {
    font-size: 30px;
  }
  .Header {
    padding-top: 0;
  }
  /*
    *   Modal Css
    */
  .NomineeModal .ant-modal-content {
    height: 100%;
  }
  .NomineeModal .ant-modal-close-x {
    text-align: center;
    line-height: 60px;
  }
  .DetailBox {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .detailContent {
    max-width: 100%;
  }
  .castVote button {
    max-width: 100%;
  }
  .DetailBox > .title:first-child {
    font-size: 32px;
    line-height: 32px;
  }
  .DetailBox .title > div:first-child {
    margin-right: 10px;
  }
  .DetailBox .title > div {
    display: unset;
  }
  .paymentMethod .col4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .paymentMethod .col4:nth-child(3) {
    padding-top: 30px;
  }
  .paymentMethod .title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 420px) {
  .paymentMethod .col4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .paymentMethod .col4:nth-child(2) {
    padding-top: 30px;
  }
  .DetailBox > .title:first-child {
    font-size: 26px;
  }
}
