.bannerBackground {
  background-color: #1a1a1a;
  width: 100%;
  text-align: center;
}

.textAlignLeft {
  text-align: left;
  position: relative;
}

.customBorder {
  padding-top: 84px;
  padding-bottom: 45px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  outline-offset: 5px;
}

.setContainerWidth {
  width: 75%;
  text-align: left;
  float: left;
}

.tabscontainer .customTabBtnActive {
  background-color: #ec1b23;
  color: #ffffff;
}

.fontSetting {
  font-family: "Monotype - NeuePlak Text Bold";
  font-size: 36px;
  color: #1a1a1a;
  padding-top: 15px;
  overflow: hidden;
}

.filterBy .ant-select-selection-selected-value::before {
  content: "Filter by:  " !important;
}

.events .ant-select-selection-selected-value::before {
  content: "Events:  " !important;
}

.filterBy .ant-select-arrow svg {
  color: #17224e;
  font-size: 15px;
}

.events .ant-select-arrow svg {
  color: #17224e;
  font-size: 15px;
}

.btnGrid {
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.organiser-details .btnGrid:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.bannerHeading {
  font-size: 56px;
  font-family: "Monotype - NeuePlak Text Bold";
  color: #ffffff;
  margin-bottom: 0.5em;
}

.eventCardImage {
  width: 100%;
  border-radius: 10px;
  float: auto;
  object-fit: contain;
}

.eventOrganiserContainer {
  position: relative;
  width: 400px;
  float: right;
  border-radius: 10px;
  border: 1px solid #d8dae3;
  padding: 1%;
  background-color: #ffffff;
  z-index: inherit;
  overflow: hidden;
}

.card .cardTitle {
  font-size: 24px;
  font-family: "Monotype - NeuePlak Text Bold";
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0px;
  letter-spacing: 0px;
}
.eventOrganiserContainer .cardSubheading {
  color: #555555;
  line-height: 30px;
}

.eventOrganiserImage {
  width: 99%;
}

.listViewCard .card {
  padding-left: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: none;
}

.eventOrganiserContainer .eventOrganiserGallery {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.eventOrganiserContainer .col-3 {
  max-width: 23%;
}

.marginLeftAuto {
  margin-left: auto;
}

.setHrWidth {
  width: 71%;
}

.setWidth {
  width: 71%;
}

.mb-100 .organiser-row {
  margin-top: 56px;
}

.eventOrganiserContainer .alignNone {
  vertical-align: inherit;
}

.eventOrganiserContainer .overlap {
  position: absolute;
  padding: 45px 45px;
  background-color: #03030396;
  bottom: 0px;
  border-radius: 10px;
}

.eventOrganiserContainer .textBlock {
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  font-family: "NeuePlak";
  font-size: 26px;
  font-weight: bold;
}

.descriptionContainer {
  height: 125px;
  overflow: hidden;
}

.eventOrganiserContainer .borderBottom {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/** ******************** Overview Gallery Image ***************************** **/
.overview-gallery-img {
  height: 90px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer !important;
  background-size: cover;
  background-position: center;
}

.overview-gallery-img p {
  font-size: 26px;
  font-weight: bold;
}

.overlapImg {
  background-color: #03030396;
  box-shadow: inset 2000px 0 0 0;
  border-color: #03030396;
  border: unset !important;
}

.vertical-text {
  position: absolute;
  color: #ffffff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.listViewImage {
  height: 135px;
}

/** ******************** Model Carousel ***************************** **/
.model-carousel .carousel.carousel-slider .control-arrow {
  background: rgba(0, 0, 0, 0.2) !important;
  height: 100px;
  top: 40%;
}

.model-carousel .carousel .slide {
  background: #fff;
}

.colWidth {
  margin-top: 25px;
  width: 22% !important;
  margin-right: 2.166667% !important;
  margin-left: 0px !important;
}

.eventOrganiserTopImage {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0% 100%;
}

.eventTypesText {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.ratingStarText {
  font-size: 18px;
  color: #ffffff;
}

.tabsBackground {
  background-color: #f2f3f8;
  padding: 20px;
  position: relative;
}

.tabsBackground .tabscontainer {
  background-color: #ffffff;
  border-radius: 10px;
}

.customTabBtn {
  padding: 20px;
  color: #272525;
  background-color: #ffffff;
  border: none;
  width: 200px;
  font-size: 18px;
  font-family: "NeuePlak";
}

.eventsBtnBorderRadius {
  border-radius: 10px 0 0 10px;
}

.reviewsBtnBorderRadius {
  border-radius: 0px 10px 10px 0px;
}

@media (max-width: 1401px) {
  .organiser-row .col-xl-3 {
    flex: 0 0 33%;
    max-width: 43%;
  }

  .eventOrganiserContainer {
    width: 27%;
  }
}

@media (max-width: 1440px) {
  .tabscontainer {
    padding: 0px;
  }

  .organiser-row .col-xl-3 {
    padding-left: 0;
  }
}

@media (max-width: 992px) {
  .organiser-row .col-xl-3 {
    flex: 0 0 50%;
    max-width: 43%;
  }
}

@media (max-width: 1024px) {
  .eventOrganiserContainer {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .eventOrganiserContainer {
    width: 37%;
    margin-top: 0 !important;
  }
  .card .cardTitle {
    color: #17224e;
    font-size: 16px;
    font-family: "Monotype - NeuePlak Text Semi Bold";
    padding: 0;
  }

  .mb-100 .organiser-row {
    margin-top: 0px;
  }

  .card .cardSubheading {
    color: #747a95;
    font-family: "NeuePlak";
    font-size: 14px;
    line-height: 1.3;
  }

  .listViewImage {
    width: 180px;
    height: 96px;
  }

  .listViewCard .card {
    padding-top: unset;
    padding-bottom: unset;
  }
}

@media (max-width: 1024px) {
  .overview-gallery-img {
    height: 50px;
  }
}

@media (max-width: 767px) {
  .eventOrganiserContainer {
    display: none;
  }

  .btnGrid {
    display: none;
  }

  .customBorder .col-md-4 {
    flex: 0 0 50.333333%;
    max-width: 50.333333%;
  }

  .customBorder .col-md-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .customTabBtn {
    width: 33.3333%;
  }

  .tabscontainer {
    padding: 0px;
  }

  .bannerHeading {
    font-size: 24px;
  }

  .eventTypesText {
    font-size: 14px;
  }

  .ratingStarText {
    font-size: 14px;
  }

  .customTabBtn {
    font-size: 14px;
  }
  .customBorder .fontSetting {
    display: none;
  }

  .customTabBtn {
    padding: 10px;
  }

  .customBorder {
    padding-top: 10px;
  }

  .card .cardTitle {
    color: #17224e;
    font-size: 16px;
    font-family: "Monotype - NeuePlak Text Semi Bold";
    padding: 0;
  }

  .card .cardSubheading {
    color: #747a95;
    font-family: "NeuePlak";
    font-size: 14px;
    line-height: 1.3;
  }

  .listViewImage {
    width: 180px;
    height: 96px;
  }

  .listViewCard .card {
    padding-top: unset;
    padding-bottom: unset;
  }
}

@media (max-width: 575px) {
  .category-filter.col-sm-6 {
    width: 50%;
  }
}
