.bannerBackground {
  background-color: #1a1a1a;
  height: 400px;
  width: 100%;
}

.textAlignLeft {
  text-align: left;
}

.ant-breadcrumb-separator {
  color: white;
}

.ant-breadcrumb .ant-breadcrumb-link span a {
  color: white;
}

.customBorder {
  border-bottom: 3px solid #f6f6f6;
  padding-top: 84px;
  padding-bottom: 45px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  outline-offset: 5px;
}

.fontSetting {
  font-family: "NeuePlak";
  font-size: 28px;
  font-weight: bold;
  color: #ec1b23;
}

.sortBy .ant-select-selection-selected-value::before {
  content: "Sort by:  ";
}

.sortBy .ant-select-arrow svg {
  color: #17224e;
  font-size: 15px;
}

.btn2 {
  border: none;
  outline: none;
  padding: 15px 16px;
  height: 80%;
  margin-left: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn2:hover {
  background-color: #ec1b23;
  color: white;
}

.btn2.active {
  background-color: red;
  color: white;
}

.ant-breadcrumb-link {
  font-size: 18px;
  font-family: "NeuePlak";
}

.bannerHeading {
  font-size: 56px;
  font-family: "NeuePlak";
  color: #ffffff;
  padding-top: 171px;
}

.eventCardImage {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}
