.bannerStyling {
  float: left;
  background-image: url(/images/org_banner.png);
  background-size: auto;
}

.bannerText {
  text-align: left;
  color: #ffffff;
  margin-top: 80px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
}

.breadcrumbContainer {
  border-bottom: 2px solid #f6f6f6;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 0px;
}

.customHeight {
  height: 30px;
}
/* .customHeight:before {
  content: "category";
  display: "inline-block";
} */
.ant-select-selection-selected-value ::before {
  content: "Category : ";
}

.categoryIconStyling {
  display: block;
  padding-bottom: 2px;
}

.marginBottom {
  margin-bottom: 124px;
}
.ant-select-selection__placeholder,
.ant-select-search__field__placeholder,
.ant-select-selection-selected-value {
  padding-left: 20px;
}

.ant-select-arrow svg {
  color: #ec1b23;
}

.fontSize span {
  font-size: 20px;
}

.breadcrumbStyling {
  font-size: 20px;
  color: #5a5a5a;
  font-family: "Helvetica Neue LT Std";
  float: left;
  margin-left: 0px;
}

.seperatorColor {
  color: #ec1b23;
}

.ant-breadcrumb-link .hoverItem:hover {
  color: #5a5a5a;
}

.ant-breadcrumb .ant-breadcrumb-link a {
  color: #5a5a5a;
}

@media only screen and (max-width: 770px) {
  .paddingOnSmallScreen {
    padding: 0 25px !important;
  }

  .iconMarginLeft {
    margin-left: 20px !important;
  }
}

.iconMarginLeft {
  margin-left: 10px;
}

.cardStyling {
  text-align: left;
  border: none;
}

.cardImage {
  width: 100%;
  height: 225px;
  border-radius: 10px;
}

.cardTitle {
  font-size: 24px;
  font-family: "neuePlak";
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: 0px;
  letter-spacing: 0px;
}

.cardSubheading {
  font-size: 18px;
  font-family: "neuePlak";
  font-weight: normal;
  color: #747a95;
  margin: 0px;
}

.cardEventsText {
  font-size: 18px;
  font-family: "neuePlak";
  font-weight: normal;
  color: #ec1b23;
  margin: 0px;
}
