body {
  background-color: #fff !important;
}
.winnerBox {
  padding-bottom: 3.58vh;
}
.winnerRow {
  margin: 0;
}
.eventResultContainer {
  max-width: 70vw;
}
.eventResultContainer .Header {
  flex-flow: row;
}
.eventResultContainer .nomineeHeaderCol {
  text-transform: capitalize;
}
.eventResultContainer .nomineeHeaderCol .heading span {
  text-transform: lowercase;
}
.contentBox {
  padding: 60px 0 70px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.eventResultContainer .nomineeBoxRow {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .eventResultContainer {
    max-width: 90vw;
    padding: 0;
  }
}
