.startAndEndMonth,
.votingOrganization,
.votingOrganization a,
.secretBalloting {
  font-size: 0.84vw;
  color: #6f7287;
}
.votingOrganization a:hover {
  color: #6f7287;
}
.startAndEndDate {
  font-size: 1.8vw;
  color: #ec1b23;
  font-weight: bold;
}
.votingEventName {
  font-size: 1.5vw;
  color: #17224e;
  font-weight: bold;
}
.endTime {
  font-size: 0.84vw;
  color: #ec1b23;
}
.borderBar {
  border: 0.15vw solid #ec1b23;
  background-color: #ec1b23;
  border-radius: 0.5vw;
  width: 22.5%;
  margin-top: 6vh;
  margin-bottom: 2.3vh;
}

@media screen and (max-width: 1600px) {
  .startAndEndMonth,
  .votingOrganization,
  .votingOrganization a,
  .secretBalloting,
  .endTime {
    font-size: 1rem;
  }
  .votingEventName {
    font-size: 1.8rem;
  }
  .startAndEndDate {
    font-size: 2.1rem;
  }
}
