.descriptinContainer {
  max-width: 70vw;
  text-align: left;
  border-top: 1px solid #d8dae3;
}

.title {
  font-weight: bold;
  font-size: 1.5vw;
  color: #17224e;
  margin-bottom: 20px;
  padding-top: 50px;
}

.description p {
  font-size: 1vw;
  color: #6f7287;
  line-height: 2.5vh;
}
@media screen and (max-width: 1600px) {
  .description p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1200px) {
  .descriptinContainer {
    max-width: 80vw;
  }
}

@media screen and (max-width: 1199px) and (min-width: 1050px) {
  .descriptinContainer {
    max-width: 90vw;
  }
}
@media screen and (max-width: 1050px) {
  .descriptinContainer {
    max-width: 100vw;
    width: 100%;
  }
  .descriptinContainer > div {
    padding: 0 5px;
  }
  .descriptinContainer > div > div {
    width: 100%;
    max-width: 100%;
    flex: unset;
  }
}
